body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    display: flex;
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .profile{
    background-color: #364f6b;
    flex-direction: column;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    flex: 8.5;
  }
  
  .hidden{
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100%;
    width: 100%;
    background: #4d6785;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  }
  
  .hidden ul li{
    list-style: none;
    display: flex;
    align-items: center;
    background: #4d6785;
  }
  
  .hidden ul{
    margin-top: 3rem;
  }
  
  
  
  
  
  @media (max-width: 768px){
    .hidden{
      display:none;
  
   
    }
  }